<section>
  <div class="toTheRightSideBox">
    <h2 class="fontSyne disableTextSelection">01/02</h2>
  </div>

  <div class="mainProjectBox">
    <img src="assets/images/projects/join.png" alt="Image of project: Join." />
    <div class="transparentDiv"></div>

    <div class="slider">
      <img class="rectangle">
      <!-- <div class="rectangle">rectangle</div> -->

      <div class="infoBox">
        <h2>Join</h2>

        <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>

        <p class="projectText">
          {{ "PROJECT1.FIRST" }}
        </p>

        <div style="display: flex; gap: 20px">
          <button onclick="window.open('https://join.dev2k.net/', '_blank')">
            Live test
          </button>
          <button
            onclick="window.open('https://github.com/KosMaster87/Join.git', '_blank')"
          >
            GitHub
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 
<div class="project01_Component">
  <div [@slideInOutRight]="'slideInRight'">
    <p class="projectNumber">01/02</p>

    <div class="leftsideProjectContainer">
      <div class="leftsideContainer">
        <img
          class="image"
          src="assets/images/projects/join.png"
          alt="First Image"
        />

        <div class="leftsideBorderContainer">
          <img src="assets/vector/portfolioHoverArrow.svg" />
        </div>
      </div>

      <div class="rightClearContainer">
        <div class="flyInContainer">
          <div class="clearContainer"></div>

          <div class="textContainer">
            <h2>Join</h2>
            <br /><br />
            <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>
            <p class="projectText">
              {{ "PROJECT1.FIRST" }}
            </p>
            <div style="display: flex; gap: 20px">
              <a target="_blank" href="https://join.dev2k.net/"
                ><button>Live test</button></a
              >
              <a target="_blank" href="https://github.com/KosMaster87/Join.git"
                ><button>GitHub</button></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="secondContainer">
        <img
          src="assets/images/projects/join.png"
          alt="Join portfolio image."
        />

        <div class="textContainer">
          <h2>Join</h2>
          <br /><br />

          <h3>Angular | TypeScript | HTML | CSS | Firebase</h3>

          <p class="projectText">
            Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.
          </p>

          <div style="display: flex; gap: 20px">
            <a target="_blank" href="http://join.dev2k.net/">
              <button>Live test</button></a
            >
            <a
              href="https://github.com/KosMaster87/El-pollo-loco"
              target="_blank"
            >
              <button>GitHub</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
