<section>
  <div class="toTheRightSideBox">
    <div class="blancoBox"></div>
    <div class="h2Box">
      <h2 class="fontSyne disableTextSelection">01/02</h2>
    </div>
  </div>

  <div class="mainProjectBox disableTextSelection">
    <img src="assets/images/projects/Join.avif" alt="Image of project: Join." />
    <div class="transparentDiv disableTextSelection"></div>

    <div class="slider disableTextSelection">
      <div class="rectangle">
        <div class="hoverArrow"></div>
      </div>

      <div class="infoBox">
        <div class="innerBox">
          <h2 class="fontSyne disableTextSelection">Join</h2>
          <h3 class="fontOverpass disableTextSelection">
            JavaScript | HTML | CSS
          </h3>
          <p class="disableTextSelection projectText fontOverpass">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
            necessitatibus vero corporis! Amet, aperiam autem.
          </p>
          <div class="fontOverpass disableTextSelection btnBox">
            <button
              class="fontOverpass disableTextSelection"
              onclick="window.open('https://join.dev2k.net/', '_blank')"
            >
              Live test
            </button>
            <button
              class="fontOverpass disableTextSelection"
              onclick="window.open('https://github.com/KosMaster87/Join.git', '_blank')"
            >
              GitHub
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
