<section>
  <div class="toTheLeftSideBox">
    <h2 class="fontSyne disableTextSelection">02/02</h2>
  </div>

  <div class="mainProjectBox">
    <img src="assets/images/projects/pollo.png" alt="Image of project: El pollo loco." />

    <div>Placeholder</div>
  </div>
</section>

<!-- <div class="project02_Component">
  <div [@slideInOutLeft]="'slideInLeft'">
    <p class="projectNumber">02/02</p>

    <div class="rightsideProjectContainer">
      <div class="leftClearContainer">
        <div class="flyInLeftContainer">
          <div class="textContainer">
            <h2>El Pollo Loco</h2>
            <br /><br />

            <h3>Javascript | HTML | CSS</h3>

            <p class="projectText">
              {{ "PROJECT2.FIRST" }}
            </p>

            <div class="buttonDiv">
              <div style="display: flex; gap: 20px">
                <a target="_blank" href="http://El-pollo-loco.dev2k.net/">
                  <button>Live test</button></a
                >
                <a
                  target="_blank"
                  href="https://github.com/KosMaster87/El-pollo-loco.git"
                >
                  <button>GitHub</button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rightsideContainer">
        <img
          src="assets/images/projects/pollo.png"
          alt="First Image"
          class="image"
        />

        <div class="rightsideBorderContainer">
          <img src="assets/vector/portfolioHoverArrow.svg" />
        </div>
      </div>

      <div class="secondContainer">
        <img src="assets/images/projects/pollo.png" alt="First Image" />

        <div class="textContainer">
          <h2>El Pollo Loco</h2>
          <br /><br />

          <h3>Javascript | HTML | CSS</h3>

          <p class="projectText">
            A simple Jump-and-Run game based on an obejct-oriented approach.
            Help Roche to find coins and salsa bottles to fight against the
            killer chicken.
          </p>

          <div style="display: flex; gap: 20px">
            <a target="_blank" href="http://El-pollo-loco.dev2k.net/">
              <button>Live test</button></a
            >
            <a
              href="https://github.com/KosMaster87/El-pollo-loco"
              target="_blank"
            >
              <button>GitHub</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
