section {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  gap: 4rem;
  // background-color: cadetblue;
}

.firstSector {
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 10vh;
  container-type: inline-size;

  h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: clamp(1.5rem, 5vw, 4rem);
    font-weight: 800;
    letter-spacing: -0.07rem;
    text-align: center;
    white-space: nowrap;

    // background-color: rgb(255, 252, 242);
    background-color: rgb(230, 228, 227);
    border-radius: 5px;
    padding: 10px 20px 10px 20px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.labels {
  width: 80%;
  min-height: 33vh;
  border: 4px solid black;
  border-radius: 2px;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(100px, 10vw, 200px), 1fr)
  );

  transition: all 0.9s ease;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  .skill_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 0.6rem;
    transition: transform 0.5s ease, opacity 0.8s ease;

    div {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: clamp(30px, 0.2rem, 200px);
      height: clamp(30px, 0.2rem, 200px);
    }

    span {
      white-space: nowrap;
      font-size: clamp(0.7rem, 1vw + 0.5rem, 1.5rem);
      font-weight: 700;
    }
  }
}

@container (max-width: 249px) {
  .labels {
    margin-top: 0.5rem;
    padding: var(--padding-smaller);
    gap: var(--gap-smaller);
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (min-width: 250px) and (max-width: 768px) {
  .labels {
    padding: var(--padding-small);
    gap: var(--gap-small);
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (min-width: 769px) and (max-width: 1440px) {
  .labels {
    padding: var(--padding-medium);
    gap: var(--gap-medium);
    grid-template-columns: repeat(5, 1fr);
  }
}

.secondSector {
  width: 80%;
  display: flex;
  justify-content: center;
  container-type: inline-size;

  .arrowRight {
    background-image: url("./../../../assets/vector/arrowRight.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: clamp(50px, 20vw, 150px);
    height: clamp(50px, 20vw, 150px);
  }
}

@media (min-width: 720px) {
  .secondSector {
    justify-content: flex-start;
    padding-left: 10vw;
  }
}

.angular {
  background-image: url(./../../../assets/vector/icons/icon-ng.svg);
}
.materialDisign {
  background-image: url(./../../../assets/vector/icons/icon-md.svg);
}
.firebase {
  background-image: url(./../../../assets/vector/icons/icon-fb.svg);
}
.typeScript {
  background-image: url(./../../../assets/vector/icons/icon-ts.svg);
}
.javaScript {
  background-image: url(./../../../assets/vector/icons/icon-js.svg);
}
.html {
  background-image: url(./../../../assets/vector/icons/icon-html.svg);
}
.css {
  background-image: url(./../../../assets/vector/icons/icon-css.svg);
}
.git {
  background-image: url(./../../../assets/vector/icons/icon-git.svg);
}
.Scrum {
  background-image: url(./../../../assets/vector/icons/icon-scrum.svg);
}
.rest {
  background-image: url(./../../../assets/vector/icons/icon-api.svg);
}
.wordPress {
  background-image: url(./../../../assets/vector/icons/icon-wp.svg);
}
